<div class="row">
  <div class="col-md-12">

    <%=simple_form_for [@page, @placement], html: { class: 'form-horizontal' } do |form|%>
      <%= form.association :video, {label_method: :id} %>
      <%= form.input :option, collection: 1..5 %>
      <%= form.submit %>

    <%end%>

  </div>

</div>