<div class="row">
  <div class="col-md-12">
  <i>Hint: For the Volume field try something between 3800 and 3900</i>
    <%=simple_form_for @video, html: { class: 'form-horizontal' } do |form|%>
      <%= form.input :volume_id %>
      (optional)
      <%= form.input :image_url %> 
      <%= form.submit %>

    <%end%>

  </div>

</div>