<div id="myElement">Loading the player...</div>
<script type="text/javascript">
var playerInstance = jwplayer("myElement");
playerInstance.setup({
    file: "<%=brightcove_url(@video.once_id,'auto')%>",
    type: 'mp4',
    image: "<%=@video.image_url%>",
    width: 640,
    height: 360,
    title: 'Basic Video Embed',
    description: 'A video with a basic title and description!'
});
</script>
<!-- Temporary asset scratch 

http://assets.volume.voxmedia.com/production/1be7c11165b69174d7f84f05d799a0d3/VRG_VEV_063_supercut_v4.mp4
-->
