<div id="hymnal-container" class="prelude-holder">
<a id="prelude-click" class="athena-click"></a>
	<div id="video-wrapper">
		<video autoplay="autoplay" muted="true" poster="https://www.dropbox.com/s/3dmtb1onzh010qd/transparent.png?dl=1">
			<source src="<%=get_auto(@video.once_id)%>" type="video/webm">

			<!--  
			<source src="http://cdn.hymnal.voxmedia.com/ads/slice_of_life/Discover_1400x510_DoubleAnniversary_SliceOfLife_v1_video.webmhd.webm" type="video/webm">
			<source src="http://cdn.hymnal.voxmedia.com/ads/slice_of_life/Discover_1400x510_DoubleAnniversary_SliceOfLife_v1_video.oggvorbis.ogg" type="video/ogg">
			<source src="http://cdn.hymnal.voxmedia.com/ads/slice_of_life/Discover_1400x510_DoubleAnniversary_SliceOfLife_v1_video.mp4" type="video/mp4">
			-->

		</video>
	</div>

	<div id="prelude-wrapper">
							
	</div>
	
	<div id="ad-container"> 
  <%= render "videos/cine_ad_script"%>