<div class="embed-responsive embed-responsive-16by9">
<iframe class="embed-responsive-item" src="https://player.ooyala.com/iframe.html?ec=<%=@video.ooyala_id%>&pbid=39dee535ed704c4bacc94c912f0a5a23" frameborder="0"></iframe>
</div>