
<div id="hymnal-container" class="prelude-holder">
<a id="prelude-click" class="athena-click"></a>
	<div id="video-wrapper">
		<video autoplay="autoplay" muted="true" poster="https://www.dropbox.com/s/3dmtb1onzh010qd/transparent.png?dl=1">
			
		<!-- Ooyala MP4 source -->
			

			<source src="http://bmurphmedia.com/assets/Discover_1400x510_DoubleAnniversary_SliceOfLife_v1_video_1.webm" type="video/webm">

			<source src="<%=ooyala_mp4(@video.ooyala_id)%>" type="video/mp4">

<!--
		 Hymnal MP4 Source 
			<source src="http://cdn.hymnal.voxmedia.com/ads/slice_of_life/Discover_1400x510_DoubleAnniversary_SliceOfLife_v1_video.mp4" type="video/mp4">


			
			<source src="http://cdn.hymnal.voxmedia.com/ads/slice_of_life/Discover_1400x510_DoubleAnniversary_SliceOfLife_v1_video.webmhd.webm" type="video/webm">
			  
			<source src="http://cdn.hymnal.voxmedia.com/ads/slice_of_life/Discover_1400x510_DoubleAnniversary_SliceOfLife_v1_video.oggvorbis.ogg" type="video/ogg">
			<source src="http://cdn.hymnal.voxmedia.com/ads/slice_of_life/Discover_1400x510_DoubleAnniversary_SliceOfLife_v1_video.mp4" type="video/mp4">
			-->

		</video>
	</div>

	<div id="prelude-wrapper">
							
	</div>
	
	<div id="ad-container"> 
 <%= render "videos/cine_ad_script"%>