<h1>Video Preview </h1>

<ul>
	<li>Video preview leverages <a href="http://voxmedia.com"> Vox Media's</a> video API to retrieve metadata for a video.</li>

	<li>It then uses that data to render video players on a page</li>

	<li>To use the app you must first register</li>

	<li>After that you can create a video, create a page, and create a placement on that page</li>

</ul>