<h1>Video Preview </h1>

Video preview leverages the Volume video API to retrieve a bunch of metadata about a particualr video<br>

It then uses that data to render video players on a page<br>

In the future, the app will evolve to support building custom test pages to show a specific combination of videos<br>

To use the app you must first register<br>

Then go to the Video page and click create new<br>
